body{
    margin:0;
}
#maincontainer{
height: 2000px;
position: relative ;
background-color:  rgba(12, 59, 59, 1);;
}
.section1{
    height: 900px;
    width: auto;
    background-image: url("./pics1/Polish_20230313_092720244.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.cover::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 900px;
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: none; 
}
.content{
    /* border: 2px solid red; */
    width:80%;
    height:1420px;
    background-color:rgba(255,255,255,0.09);
    /* margin: auto; */
    position: absolute;
    top: 330px;
    right: 140px;  
    color: white;
}

.dvhome{
    background:fixed;
    background:white;
    color:black;
    padding: 10px 10px 10px 10px;
    margin: 20px;
    width:90px;
    text-align: center;
    position: absolute;
    top: 10px; 
    font-weight: bolder;
}
.dvnav{
    color: white;
    font-weight: bolder;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    float:right;
    padding: 5px;
    /* margin: -30px 100px 6px -50px; */
    text-decoration: none;
    position: relative;
    top: 30px; 
}
.nav1{
    margin-right: 50px;
}
.nav2{
    margin-left: 0px;
}
.nav3{
    margin-left: 50px;
}
.dvnav a:hover{
    color: black;
    text-decoration: none! important;
}
.dvpara1 p{
    line-height: 1.5;
    font-size: 35px;
    font-weight: bolder;
    position: absolute;
    top: 70px;
    left: 100px;
    max-width: 35ch;
 }
.dvlogo{
    position: absolute;
    top: 150px;
    left: 450px;

} 
.dvlogo img{
    height: 150px;
    width: 120px;
    margin: 60px -750px 100px 700px;
}

.bold{
    margin-left: 120px;
    font-size: 20px;
    background: rgba(200, 200, 200, 0.7);
}
.bold h5{
    margin-top: 15px;
    text-align: center;
    font-weight: bolder;
    font-size: 23px;
}
.decorate li{
line-height: 2;
text-decoration: none;
}
.bold1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 50px;
}
.pcreate1{
    border: 2px solid yellow;
}

.dvpara2 p{
    font-size: 30px;
    position: absolute;
    top: 400px;
    left: 290px;
    max-width: 27ch;
    /* font-weight: bolder; */
}
.gear{
    position:absolute;
    top: 438px;
    left: 190px;
    height: 95px;
}

.geek{
 display: flex;  
 justify-content: space-around; 
 margin-left: 30px;
 margin-top: -30px;
}
.geek ul{
    text-decoration: none;
}
.create p{
    font-size: 30px;
    /* font-weight: bolder; */
    margin-top: 20px;
    margin-left: 350px;
    max-width: 45ch;
}
.create h5{
    font-size: 25px;
    margin-top: -40px;
}
.icon{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 70px;
    padding-top: 80px;
}
.html{
    margin-right: 40px;
}
.css{
    margin-right: 40px;
}
.figma{
    margin-right: 40px;
}
.js{
    margin-right: 40px;
}
.python{
    margin-right: 40px;
}
.copyright{
    margin-left: 130px;
}


.parent1{
    background-color: 0C3B3B;
    color: white;
}
.pcreate1{
    padding-bottom: 20px;
}
.hire{
    padding-bottom: 20px;
}


.parent1{
    background-color: 0C3B3B;
}
.pcreate1{
    padding-bottom: 20px;
}
.hire{
    padding-bottom: 20px;
}
.robs{
    position: absolute;
    bottom: -40px;
    margin-left: 130px;
    margin-bottom: 40px; 
    font-size: 25px;
    color: white;
}
.right{
    height: 20px;
}