body{
    color: white;
    font-family:monospace;
    font-size: 20px;
    text-decoration: none;
}
.parent{
    background-image: url(Polish_20230313_092720244.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position :center center;
    height: 150vh;
    margin: 0px;
    padding:0px;
    /* align-items: center;
    justify-content: center; */
    
    
}
.parent img{
    height: 150px;
    width: 150px;
    margin-right: 20px;
    margin-left: 320px;
    margin-bottom: 90px;
}
.parent.overlay::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 152%;
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: none; 
}
.parent.overlay{
    filter: none;
}
.parent.overlay a{
    color: white;
    text-decoration: none;
}

.parent1{
    background-color: rgba(12, 59, 59, 1);
    margin-top: -30px;
    padding: 0px;
}
.dvhome{
    background:fixed;
    background:white;
    color:black;
    padding: 10px 0px 10px 10px;
    margin: 20px;
    width:110px;
    text-align: center;
    
}
.dvnav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    float:right;
    padding: 5px;
    margin: -30px 100px 6px -50px;
    text-decoration: none;
    
}

.nav1{
    margin-right: 50px;
}
.nav2{
    margin-left: 50px;
}
.nav3{
    margin-left: 100px;
}
.dvnav a:hover{
    color: black;
    text-decoration: none! important;

}

.parent1{
    background-color: 0C3B3B;
}
.pcreate1{
    padding-bottom: 20px;
}
.hire{
    padding-bottom: 20px;
}
.dvpara1 p{
    display: flex;
    justify-content: center;
    font-size: 35px;
    margin:-8px 0px 0px -180px;
    text-align: justify;
}
.dvlogo{
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    padding: 140px;
    
}
.dvlogo img{
    height: 150px;
    width: 120px;
    margin: -20px -600px 0px 300px;
    
    display: flex;
}

.bold{
    margin-left: 120px;
    font-size: 20px;
    border-right-width: 15cm;
    border: 2px solid grey;
    background: grey;
}
.bold h5{
    text-align: center;
}
.bold1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 50px;
}
.pcreate1{
    border: 2px solid yellow;
}

.dvpara2 p{
    font-size: 30px;
    display: flex;
    justify-content: start;
    align-items: end;
    line-height:0.01em;
    padding-left: 600px;
    margin: 50px 0px 0px -145px;
    line-height: -10px;
}
.gear{
    
    margin-left: 10px;
    margin-top: -120px;
   /* max-width: 120px;
    height: 150px;*/
}

.geek{
 display: flex;  
 justify-content: space-around; 
 margin-left: 30px;
 margin-top: -30px;
}
.geek ul{
    text-decoration: none;
}
.create p{
    font-size: 30px;
    margin-top: 20px;
    margin-left: 350px;
    max-width: 45ch;
}
.create h5{
    font-size: 25px;
    margin-top: -40px;
}
.icon{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    margin-left: 110px;
    padding-bottom: 30px;
    padding-left: 60px;
}
.html{
    margin-right: 40px;
}
.css{
    margin-right: 40px;
}
.figma{
    margin-right: 40px;
}
.js{
    margin-right: 40px;
}
.python{
    margin-right: 40px;
}
.copyright{
    margin-left: 130px;
}

