body{
    margin:0;
}
#maincontainer{
height: 1000px;
position: relative ;
background-color:  rgba(12, 59, 59, 1);;
}
.section1{
    height: 900px;
    width: auto;
    background-image: url("./pics1/Polish_20230313_092720244.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.cover::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 900px;
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: none; 
}
.content{
    /* border: 2px solid red; */
    width:80%;
    height:1420px;
    background-color:rgba(255,255,255,0.09);
    /* margin: auto; */
    position: absolute;
    top: 330px;
    right: 140px;  
    color: white;
}
.dvhome{
    background:fixed;
    background:white;
    color:black;
    padding: 10px 10px 10px 10px;
    margin: 20px;
    width:110px;
    text-align: center;
    position: absolute;
    top: 10px; 
    font-weight: bolder;
}
.dvnav{
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    float:right;
    padding: 5px;
    /* margin: -30px 100px 6px -50px; */
    text-decoration: none;
    position: absolute;
    top: 35px; 
    left: 800px;
    font-weight: bolder;
}
.nav1{
    margin-right: 50px;
}
.nav2{
    margin-left: 50px;
}
.nav3{
    margin-left: 100px;
}
.dvnav a:hover{
    color: black;
    text-decoration: none! important;
}
.dvpara1{
    margin-top: -40px;
    padding-bottom: 100px;
}
.dvpara1 p{
       font-size: 50px;
       position: absolute;
       top: 92px;
       max-width: 29ch;
       margin-left: 160px;
   }
 
.dvpara2 p{
       font-size: 40px;
       max-width: 25ch;
       position: absolute;
       top: 350px;
       left: 160px;
   }
   .dvlogo{
    position: absolute;
    top: 150px;
    left: 450px;
}
.dvlogo img{
    height: 150px;
    width: 120px;
    margin: -90px -600px -200px 700px;
}
.parent1{
    background-color: rgba(12, 59, 59, 1);
    color: white;
}
.parent1{
    background-color: 0C3B3B;
    height:100%;
}

.para1 h3{
    max-width: 27ch;
    margin-left: 290px;
    font-size: 30px;
    }
.para1 p{ 
    display: flex;
    justify-content: center;
    color: rgba(255,255,255, 0.5);
}
#offer{
    width: 300px; 
    height: 150px; 
    margin-left: 520px; 
    border: 2px solid grey;
    background: rgba(0,0,0,0.5);
}
.para2{
display: flex;
justify-content: center;
padding: 90px;
}
.para2 button{
    height: 40px;
    margin-left: 20px;
    margin-top: 18px;
    border-radius: 10px;
}
.robs{
    position: absolute;
    top: 1860px;
    margin-left: 130px;
    margin-bottom: 40px; 
    font-size: 25px;
    color: white;
}
.right{
    height: 20px;
}
#icon{
width: 800px;
margin-left:300px;
}
.twitter{
margin-left: -10px;
height: 50px;
}
.phone{
height: 35px; 
}
.linked{
height: 40px;
}
.text{
    font-size: 25px;
}
.rate {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    position: absolute;
    top: 1000px;
    left: 700px;
}
.rate img{
    width: 100%;
    height: auto;
}
.rate a:hover img{
    opacity: 0.6;
}

.suggestion{
    font-size: 30px;
    margin-left: 148px;
    max-width: 35ch;
}
.feedback input  {
 width: 200px;
 height: 30px;
 border-radius: 10px;
 /* margin-left: 150px; */
} 
.feedback .message{
height: 60px;
} 
.feedback .span{
 width: 80px;
 height: 68px;
 border-radius: 10px;
 background-color: black;
 color: white; 
}    
.copyright {
    
    /* margin-left: 290px;  */
    } 
.feedback{
    display: grid;
    gap: 2;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: 'one'
    'two'
    'three';
    position: absolute;
    top: 1400px;
    margin-left: 300px;
    color: white;}
