body{
    margin:0;
}
#maincontainer{
height: 1800px;
position: relative ;
background-color:  rgba(12, 59, 59, 1);;
}
.section1{
    height: 900px;
    width: auto;
    background-image: url("./pics1/Polish_20230313_092720244.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.cover::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 900px;
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: none; 
}
.content{
    /* border: 2px solid red; */
    width:80%;
    height:1200px;
    background-color:rgba(255,255,255,0.09);
    /* margin: auto; */
    position: absolute;
    top: 330px;
    right: 140px;  
    color: white;
}
.dvnav{
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    float:right;
    padding: 5px;
    /* margin: -30px 100px 6px -50px; */
    text-decoration: none;
    position: absolute;
    top: 35px; 
    left: 800px;
    font-weight: bolder;
}
.nav1{
    margin-right: 50px;
}
.nav2{
    margin-left: 50px;
}
.nav3{
    margin-left: 100px;
}
.dvnav a:hover{
    color: black;
    text-decoration: none! important;
}
.dvhome{
    background:fixed;
    background:white;
    color:black;
    padding: 10px 10px 10px 10px;
    margin: 20px;
    width:100px;
    text-align: center;
    position: absolute;
    top: 10px; 
    font-weight: bolder;
}
.dvpara1{
    font-size: 50px;
    max-width: 30ch;
    position: absolute;
    top: 95px;
    left: 100px;
}
.dvpara2{
    font-size: 35px;
    position: absolute;
    top: 350px;
    left: 100px;
    max-width: 30ch;
}
.para1{
    font-size: 25px;
    position: absolute;
    top: 600px;
    left: 400px;
}
#offer{
    background-color: rgba(0, 0, 0, 0.5);
    height: 170px;
    text-align: center;
}
.para2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    position: absolute;
    top: 950px;
    left: 400px;  
}
.para2 p{
    font-size: 30px;
}
.btn{
    height: 60px;
    margin-top: 15px;
    margin-left: 30px;
    border-radius: 10px;
}

.robs{
    font-size: 30px;
    color: white;
    position: absolute;
    top: 1730px;
    left: 160px;
}
.right{
    height: 20px;
}