body{
    margin:0;
}
#maincontainer{
height: 2000px;
position: relative ;
background-color:  rgba(12, 59, 59, 1);;
}
.section1{
    height: 900px;
    width: auto;
    background-image: url("./pics1/Polish_20230313_092720244.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.cover::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 900px;
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: none; 
}
.content{
    /* border: 2px solid red; */
    width:80%;
    height:1420px;
    background-color:rgba(255,255,255,0.09);
    /* margin: auto; */
    position: absolute;
    top: 330px;
    right: 140px;  
    color: white;
}
.dvhome{
    background:fixed;
    background:white;
    color:black;
    padding: 10px 10px 10px 10px;
    margin: 20px;
    width:110px;
    text-align: center;
    position: absolute;
    top: 10px; 
    font-weight: bolder;
}
.dvnav{
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    float:right;
    padding: 5px;
    /* margin: -30px 100px 6px -50px; */
    text-decoration: none;
    position: absolute;
    top: 35px; 
    left: 800px;
    font-weight: bolder;
}
.nav1{
    margin-right: 20px;
}
.nav2{
    margin-left: 30px;
}
.nav3{
    margin-left: 50px;
}
.nav4{
    margin-left: 50px;
}
.dvnav a:hover{
    color: black;
    text-decoration: none! important;
}
.dvlogo{
    position: rlative;
    top: 600px;
    left:400px ;
}