.parent{
    border: 2px solid red;
    background-image: url(Polish_20230313_092720244.jpg);
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size:cover;
    background-position: vh;

    
}
.header{
    display: flex;
    justify-content: flex-end;

}
.parent1{
    background-color: 0C3B3B;
}
.pcreate1{
    padding-bottom: 20px;
}
.hire{
    padding-bottom: 20px;
}