body{
    margin:0;
}
#maincontainer{
height: 2000px;
position: relative ;
background-color:  rgba(12, 59, 59, 1);;
}
.section1{
    height: 900px;
    width: auto;
    background-image: url("./pics1/Polish_20230313_092720244.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.cover::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 900px;
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: none;
}
.cover{
    filter: none;
}
.cover a{
    color: white;
    text-decoration: none;
}
.content{
    /* border: 2px solid red; */
    width:80%;
    height:1420px;
    background-color:rgba(255,255,255,0.09);
    /* margin: auto; */
    position: absolute;
    top: 330px;
    right: 140px;  
    color: white;
}
.dvpara1 p{
    
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    margin: 8px 30px -5px -5px;
    font-size: 50px;

}

.dvpara2 p{
    font-size: 35px;
    line-height: 0.3;
    margin-left: 350px;
}
.suggestion h6{
    font-size: 30px;
    color: white;
    max-width: 38ch;
   position: absolute;
   bottom: 100px;
   /* top: 100px; */
   margin-left: 140px;

}
.icon{
    margin-top: -20px;
}
.feedback{
 display: grid;
 gap: 2;
 grid-template-columns: repeat(4, 1fr);
 /* grid-template-rows: auto; */
 grid-template-areas: 'one'
 'two'
 'three';
 position: absolute;
 bottom: 100px;
 margin-left: 140px;
 color: white;
}
/* .feedback:nth-child(1){
    grid-area:one; 
}
.feedback:nth-child(2){
    grid-area:two;
}
.feedback:nth-child(3){
    grid-area: three;   
}
.feedback:nth-child(4){
    grid-area:four;
}
@media (min-width: 35px){
    .feedback{
        grid-template-areas:"one three four"
        "two three four" ;
    }
} */
.feedback input  {
width: 200px;
height: 30px;
border-radius: 10px;
} 
.feedback .message{
    height: 60px;
} 
.feedback .span{
    width: 80px;
    height: 68px;
    border-radius: 10px;
    background-color: black;
    color: white; 
}  
.robs{
    position: absolute;
    bottom: -40px;
    margin-left: 130px;
    margin-bottom: 40px; 
    font-size: 25px;
    color: white;
}
h6{
    font-size: 27px;
    max-width: 36ch;
}
.create{
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(2, 1fr); 
    grid-template-areas: 'one'
    'two'
    'three';
}
@media (min-width: 35px){
    .create{
        grid-template-areas:'one two'
        'three' ;
    }
}
.create:nth-child(1){
    grid-area:one;
}
.create:nth-child(2){
    grid-area:two;
}
.bold0{
    font-size: 25px;
    position: absolute;
    bottom: 600px;
    margin-left: 90px;
    max-width: 30ch;
}
.pcreate1{
    font-size: 30px;
    position: absolute;
    bottom: 350px;
    max-width: 17ch;
    margin-left: 87px;
}
.bold1{
    font-size: 25px;
    position: absolute;
    bottom: 650px;
    margin-left: 70px;
}
.pcreate2{
    font-size: 30px;
    position: absolute;
    bottom: 500px;
    max-width: 17ch;
    margin-left: 190px;
}
.hire{
    width: 80px;
    height: 30px;
    border-radius: 10px; 
    position: absolute;
    bottom: 480px;
    max-width: 17ch;
    margin-left: 190px; 
}
.cv{
    width: 150px;
    height: 30px; 
    border-radius: 10px;
    position: absolute;
    bottom: 400px;
    max-width: 17ch;
    margin-left: 190px;
}
.geek{
   position: absolute;
   bottom: 50px;
}
.geek h6{
    margin-left: 90px;
    max-width: 20ch;
}
.icon{
width: 800px;
margin-left: 90px;
}
.twitter{
    margin-left: -10px;
    height: 50px;
}
.phone{
    height: 35px; 
}
.linked{
    height: 40px;
}
.text{
    font-size: 25px;
}
.dvhome{
    background:fixed;
    background:white;
    color:black;
    padding: 10px 10px 10px 10px;
    margin: 20px;
    width:50px;
    text-align: center;
    position: absolute;
    top: 10px; 
    font-weight: bolder;
}
.dvnav{
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    float:right;
    padding: 5px;
    /* margin: -30px 100px 6px -50px; */
    text-decoration: none;
    position: absolute;
    top: 35px; 
    left: 800px;
    font-weight: bolder;
}
.nav1{
    margin-right: 50px;
}
.nav2{
    margin-left: 50px;
}
.nav3{
    margin-left: 100px;
}
.dvnav a:hover{
    color: black;
    text-decoration: none! important;
}
.right{
    height: 20px;
}
.profile{
   position: absolute;
   top: 780px;
   left: 645px; 
}
.dvlogo{
    position: absolute;
    top: 150px;
    left: 450px;
}
.dvlogo img{
    height: 150px;
    width: 120px;
    margin: -90px -600px -200px 700px;

}